*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-family: "Microsoft YaHei"; */
}

body {
    height: 100%;
    background-color: #ffffff;
}
/* 导航栏部分css */
header {
    text-align: center;
    height: 80px;
    width: 100%;
    /* border: 1px black solid; */
    position: fixed;
    border-bottom: 2px solid #e9e7e7;
    display: block;
    background-color: #fff;
    z-index: 5;
    top: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

.left-group {
    float: left;
}
.logo-text{
    margin-bottom: 10px;
    margin-left: 24px;
}

.logo-text a {
    font-size: 18px;
    font-weight: bold;
    color: #535353;
    text-decoration: none;
    vertical-align: 10px;
}

.logo-text img {
    vertical-align: 6px;    
}

.right-group {
    float: right;
    margin-right: 46px;
}

.sign {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}
.container {
    width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}
.sign-up {
    color: #000;
}

.user-img {
    vertical-align: -12px; 
    width: 36px;       
}

a:active {
    opacity:0.8;
}

/* 内容框架css */
.content {
    position: relative;
    top: 120px;
    width: 1620px;
    background-color: #fff;
    margin: 0 auto 0 auto;
}
/* 第一部分内容css */
.content1 { 
    max-width: 80%;
    margin: 0 auto;
}

/* 第一部分插画内容css */
.chahua1 {
    position: absolute; 
    width: 630px;
    height: 621px;
    right: 160px;  
}
/* 第一部分文字内容css */
.main-content1 h1 {
    font-size: 60px;
}

.main-content1 p {
    font-size: 26px;
    width: 530px;
    margin-top: 60px;
}
/* 第一部分联系我们相关css */
.contact {
    margin-top: 60px;
    background-color: #f5f5f5;
    width: 530px;
    padding: 30px 12px;
    border-radius: 40px;
}

.email-input {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    font-size: 18px;
    width: 400px;
    height: 50px;
    outline: none;
    border: 0;
    background-color: #fff;
    text-indent: 1em;
}
/* 按钮相关css */
.learn-more-btn {
    display: block;
    border: 0;
    background-color: #0099ff;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    width: 150px;
    height: 30px;
    margin-top: 40px;
    outline: none;
}

.submit-btn {
    display: inline-block;
    border: 0;
    color: #fff;
    font-weight: bold;
    background-color: #0099ff;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 120px;
    height: 50px;
    font-size: 16px;
    margin: 0 0 0 -8px;
    outline: none;
    line-height: 51.5px;
    text-indent: 0.5em;
}
/* 最后按钮的css */
.last-btn {
    font-weight: bold;
    border: 0;
    background-color: #0099ff;
    color: #fff;
    display: block;
    height: 50px;
    width: 220px;
    font-size: 26px;
    border-radius: 25px;
    line-height: 50px;
    margin: 350px auto 0 auto;
    outline: none;
    text-align: center;
}

.or-and-line {
    color: #d5d5d5;
    font-weight: bold;
    margin: 20px 0;
}

.line {
    width:230px;
    height:2px;
    background-color:#d5d5d5;
    display: inline-block;
    vertical-align: middle;
}

.qq-or-weibo {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: #fff;
    border-radius: 12px; 
    color: #000;
    font-weight: bold;
    text-align: center;  
    line-height: 50px; 
}

.qq-or-weibo img {
    vertical-align: -8px;   
}

.weibo {
    margin-left: 10px;
}

/* 第二部分css */
/* 第四部分css */
/* 两个结构相同 */
.content2, .content4 { 
    max-width: 80%;
    margin: 400px auto 0 auto;
}

.conten2::after {
    content: "";
    clear: both;
    display: block;
}

/* 第二部分插画css */
.computer1, .computer3 {
    position: absolute; 
    width: 630px;
    height: 486px;
    right: 140px;  
}
/* 第二部分文字内容css */
.main-content2, .main-content4 {
    margin-left: 20px;
}

.main-content2 h1, .main-content4 h1 {
    padding-top: 100px;
    font-size: 50px;
}

.main-content2 p, .main-content4 p {
    font-size: 20px;
    width: 530px;
    margin-top: 30px;
}

.go-sign-in {
    display: block;
    width: 150px;
    height: 30px;
    margin-top: 40px;
    outline: none; 
    border: 0;
    background-color: #0099ff;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;   
    text-align: center;
    line-height: 30px;
}
/* 第三部分css */
.content3 { 
    max-width: 80%;
    margin: 300px auto 0 auto;
}

/* 第二部分插画css */
.computer2 {
    width: 630px;
    height: 486px;
}

/* 第三部分文字内容css */
.main-content3 {
    position: absolute;
    right: 160px;
}

.main-content3 h1 {
    padding-top: 100px;
    font-size: 50px;
}

.main-content3 p {
    font-size: 20px;
    width: 530px;
    margin-top: 30px;
}

.content4 {
    margin-top: 150px;; 
}

/* 页脚的css */
.footer {
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    color: #c7c7c7;
    text-align: center;
    margin-top: 100px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    padding: 90px;
    box-sizing: border-box;
}

.footer p {
    width: 900px;
    margin: 0 auto;
}

/* 注册出错提示框css */
.no-sign {
    width: 500px;
    height: 300px;
    border: 10px solid #f2f2f2;
    border-radius: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    z-index: 5;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    display: none;
}

.no-sign p{
    font-size: 15px;
    color: #838181;
    margin-top: 20px;
    font-weight: 500;
}

.confirm {
    width: 80px;
    height: 40px;
    border: 0;
    background-color: #0099ff;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
}

.confirm:hover {
    cursor: pointer;
}






















